<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="goid.kotajambi.puskesmas_ngadu">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoramah"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logoramah"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.menu.menu_detail_events"></activity>
        <activity android:name=".view.menu.menu_cari" />
        <activity android:name=".view.menu.tes_menu" />
        <activity
            android:name=".view.menu.menu_riset_password"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".view.menu.menu_event"
            android:label="Events" />

        <activity android:name=".view.menu.menu_detail_layanan" />
        <activity android:name=".view.menu.menu_layanan"
            android:label="Layanan"/>
        <activity
            android:name=".view.menu.menu_login"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".view.menu.menu_detail_slider" />
        <activity
            android:name=".view.menu.menu_lupa_password"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".view.menu.menu_register"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".view.menu.menu_login_with_google"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".view.menu.menu_detail_berita"
            android:label="Berita Kota" />
        <activity
            android:name=".view.menu.menu_laporan_saya"
            android:label="Laporan Saya" />
        <activity
            android:name=".view.menu.menu_detail_laporan"
            android:label="Detail Laporan"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".view.menu.menu_lapor"
            android:label="Lapor Keluhan"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".view.menu.menu_utama" />
        <activity
            android:name=".view.menu.menu_pembuka"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".firebase.NotificationService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".view.menu.menu_komen_laporan_masuk"
            android:label="Notif Masuk"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="user" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>