<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="goid.kotajambi.puskesmas_ngadu">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.menu.menu_lupa_password"></activity>
        <activity
            android:name=".view.menu.menu_register"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".view.menu.menu_login_with_google"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".view.menu.menu_detail_berita"
            android:label="Berita Kota" />
        <activity
            android:name=".view.menu.menu_laporan_saya"
            android:label="Laporan Saya" />
        <activity
            android:name=".view.menu.menu_detail_laporan"
            android:label="Detail Laporan"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".view.menu.menu_lapor"
            android:label="Lapor Keluhan"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".view.menu.menu_utama" />
        <activity
            android:name=".view.menu.menu_login"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>